  <table
    class="table table-hover mt-3 mb-2 display"
    id="tabela-convites"
    style="margin-top: 100px;"
  >
    <thead class="table-dark">
      <tr>
        <th>Numero</th>
        <th>Núcleo</th> 
        <th>Evento</th>
        <th>Data</th>
        <th style="display:none"></th>
        <th>Convidado</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each convites}}
        <tr>
          <td>{{numero}}</td>
          <td>{{nucleo}}</td>
          <td>{{evento.descricao}}</td>
          <td>{{evento.data}}</td>
           <td style="display:none">{{evento.descricao}}</td>
          <td>{{convidado.nome}}</td>
          <td>{{status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>