  <table class="table table-hover mt-3 mb-2 display" id="tabela-eventos" style="margin-top: 100px;">
    <thead class="table-dark">
      <tr>
        <th>Tipo</th>
        <th>Data</th>
        <th>Horário Início</th>
        <th>Horário Término</th>
        <th style="display:none"></th>
        <th>Descrição</th>
        <th>Local</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each eventos}}
        <tr>
          <td>{{tipo}}</td>
          <td>{{data}}</td> 
          <td>{{horarioinicio}}</td>
          <td>{{horariotermino}}</td>
          <td style="display:none">{{descricao}}</td>
          <td>{{descricao}}</td>
          <td>{{local}}</td>
          <td><a href="/usuarios/consultar_evento/{{_id}}" title="Mais detalhes"><i class="fa-solid fa-magnifying-glass"></i></a></td> 
          <td><a href="/admin/movimentacao/{{_id}}" title="Escanear códigos"><i class="fa-solid fa-barcode"></i></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>